---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body style="background: radial-gradient(125% 125% at 50% 10%, #111 30%, #6673ee 100%) fixed;">
    <nav class="flex gap-4 p-4 bg-black text-white rounded-b-md mb-8 mx-4">
      <a href="/">Home</a>
      <a href="/Experience">Experience</a>
      <a href="/Proyect">Projects</a>
      <a href="/other">Other</a>
      <a href="/contact">Contact</a>
    </nav>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
